$color-white: #fff;
$color-black: #333333;
$color-primary: #00a0e9;
$color-primary-light: #00b8f1;
$color-gray:#c9c9c9;
$color-active:#BC2A34;




$bg-white: #fff;
$bg-black: #333333;
$bg-gray:#ededed;
$bg-active:#BC2A34;


$size-default: 14px;
$size-small: 12px;
$size-large: 16px;

